.data {
    list-style: none;
    text-align: start;
    padding: 1rem;
    font-weight: 800;
    font-family: monospace;
    text-transform: uppercase;
    border: 1px solid rgba(0,0,0,0.24);
    border-radius: 12px;
}

.data h2 {
    color: rgb(255, 7, 7);
}